/* #region common */

/* :root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
} */

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.text-iris {
    color: #4D5AE5;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion common */

/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.nav-list {
    align-items: center;
    gap: 40px;
}

.nav-list-item {
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    align-items: center;
    gap: 40px;
}

.contacts-item {}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #endregion header */

/* #region hero */

.section-hero {
    background: #2E2F42;
}

.section-hero .container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.title-hero {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
 
.button-hero {
    border: none;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    /* width: 169px;
    height: 56px; */
    display: block;
    margin: 0 auto;
}

.button-hero:hover,
.button-hero:active {
    background-color: #404bbf;
}

/* #endregion hero */

/* #region Pillars */

.section-pillars {
    padding: 120px 0;
}

.pillars-list {
    gap: 24px;
}

.pillars-item {
    max-width: 400px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.pillars-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.pillars-item-description {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Pillars */

/* #region Our Team */

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
}

.team-content-wrapper {
    padding: 32px 16px;
}

.team-item-image {}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item-description {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* #endregion Our Team */

/* #region Portfolio */

.section-portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 72px;
}

.portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.portfolio-list-item {
    width: 360px;
}

.portfolio-list-image {}

.portfolio-content-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-description {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Portfolio */

/* #region footer */

.page-footer {
    background: #2E2F42;
}

.main-logo-footer {
    color: #F4F4FD;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-description {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion footer */